.item-nav{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: 300;
}

.item-nav:hover{
    background: linear-gradient(135deg, #07a7e3, #32dac3 100%);
    text-decoration: none;
    color: #fff
}

@media(max-width: 768px){
    .item-nav{
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}